* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#Q-body_index {
    /* background-color: black; */
    background-image: url(/pic/dark-world.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

#nav {
    /* margin: 20px; */
    /* width: 96%; */
    width: 100%;
    height: 55px;
    text-align: center;
    /* border: 2px solid black; */
    /* border-radius: 12px; */
    box-shadow:
        2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
        6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
        12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
        22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
        41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
        100px 100px 80px rgba(0, 0, 0, 0.07)
        ;

    display: flex;
    align-items: center;

    background: transparent;
    backdrop-filter: blur(16px);
    filter: brightness(1);
    
}

#nav-container {
    /* display: flex;
    flex-direction: row; */
    width: 100%;
    height: 50px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}

.nav-items {
    /* margin: 5px 10%; */
    transition: 0.4s ease-in-out;
    width: 20%;
    cursor: pointer;
    height: 50px;
    text-decoration: none;

    border-radius: 12px;
}

.nav-items p {
    font-size: 18px;
    height: 50px;
    font-weight: bold;
    transition: 0.4s ease-in-out;
    padding: 5px 10px;
    border-radius: 12px;
    line-height: 44px;

    color: white;
}




/* .nav-items:hover {
    background-color: white;
}
 */
/* .nav-items:hover a {
    color: black;
} */

.prime-container {
    width: 100%;
}

#flex-box {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    margin-top: 20px;
}

.flex-item {
    width: auto;
    margin: 15px 30px;
    /* border: 3px solid black; */
    text-decoration: none;
    transition: 0.5s ease-in-out;
    background: transparent;
    backdrop-filter: blur(2px);
}

.flex-item:hover {
    transform: scale(1.03);
}

.flex-item img {
    width: 220px;
    border-radius: 10px;
}

.flex-item p {
    width:auto;
    text-align: center;
    font-size: 1.2em;
    /* font-weight: bold; */
    margin-top: 3px;
    color:white;
}

/* ____________________________________________ INSERT.HTML _______________________________________________ */

#Q-body_insert {
    background-image: url(/pic/dark-world.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

#Insert-title {
    color:white;
    padding: 15px 0 5px 0;
    font-size: 30px;
}


div#form-container {
    /* display: flex;
    flex-direction: column; */
    margin: 20px 6.8%;

    border: 1px solid white;
    border-radius: 12px;
    background: transparent; 
    backdrop-filter: blur(4px);
}

#form-container form {

    width: calc(100% - 20px);
    margin: 0 20px;

    display: flex;
    flex-direction: column;

    /* align-items: center; */

    background: transparent;
    backdrop-filter: blur(10px);

}

#form-container form h2 {
    text-align: center;
}

.input {
    width: calc(100% - 40px);
    height: 40px;
    background: transparent;
    color: white;
    margin: 10px 20px 10px 10px;
    border-radius: 12px;
    border: 2px solid rgba(255, 255, 255, 0.331);
    padding-left: 10px; /* PARA MOVER EL INICIO DEL TEXTO!!!1 */
    font-size: 15px;
}

.input::placeholder {
    color: white;
    /* font-size: 15px; */
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#form-container textarea {

    height: 40px;
    background: transparent;
    width: calc(100% - 40px);
    max-width: calc(100% - 40px);
    /* min-width: calc(100%-20px); */
    border-radius: 12px;
    color: white;
    border: 2px solid rgba(255, 255, 255, 0.331);

    padding: 5px 0 0 10px;
    font-size: 15px;
}

#img-selector-container {
    display: flex;
    align-items: center;
    margin: 10px;
}

#img-selector-container p {
    color: white;
}

.label-image-upload {
    display: inline-block;
    padding: 10px 20px;
    margin: 0 10px 0 10px;
    border: 2px solid white;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

.label-image-upload.active {
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
}

.label-image-upload:hover {
    background-color: rgba(255, 255, 255, 0.251);
    color: white;
}

input[type="file"] {
    display: none;
}

#submit-button {
    width: calc(100% - 40px);
    margin: 10px 10px 20px 10px;
    font-size: 20px;
    padding: 10px 20px;
    color: white;
    background-color: transparent;
    backdrop-filter: blur(12px);
    border: 1px solid white;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.4s ease;
}

#submit-button:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
}

/* ________________ POPUP-IN _________________ */

.popup-in {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    padding: 50px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, .30);
    background: transparent;
    filter: blur(0px);
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    border: 2px solid white;
}

.popup-in.visible {
    top: 50%;
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}

.popup-in h2 {
    color: white;
}

.popup-in p {
    color: white;
}

.popup-in img {
    width: 94px;
    margin-right: 2%;
}

#button-container {
    margin-top: 17px;
    display: flex;
    justify-content: space-evenly;
}

#button-container button {
    background: transparent;
    /* flex: 1;  */
    border: 2px solid white;
    outline: none;
    padding: 10px 15px;
    font-size: 20px;
    color: #cac7ff;
    height: 44px;
    width: 200px;
    cursor: pointer;
}

#button-container button:hover {
    background: rgba(240, 248, 255, 0.2);
    color: #fff;
}


/* _____________________________________________ novela _____________________________________________ */


#Q-body1 {
    /* background-image: url(); */
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    /* backdrop-filter: brightness(2); */
}

#novela_container {
    /* border: 3px solid black; */
    border-radius: 12px;

    width: 96%;
    margin: 2%;
    height: auto;

    display: flex;

    background: transparent;
    backdrop-filter: blur(40px);
    filter: brightness(1.2);

    /* flex-wrap: wrap; */
}

#img-container {

    width: 291.24px;
    height: 370px;

    margin: 20px 10px 10px 22px;
    /* border: 3px solid black; */
}

#img-container img {
    width: 291.24px;
    border-radius: 10px;

    filter: brightness(1.1);
}

#data-container {
    width: 80%;
    height: auto;

    margin: 10px 21px 10px 10px;
    /* border: 3px solid black; */

}

#data-container h2 {
    margin: 17px 0 20px 22px;

    color: white;
}


#data-container p {
    margin: 0 0 0 22px;

    color: white;
}

#divback {
    margin: 16px 0 20px 22px;
    display: none;
}

#data-container a {
    text-decoration: none;
    padding: 10px 20px;
    border: 2px solid white;
    border-radius: 12px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    background: transparent;
    backdrop-filter: blur(4px);
    /* cursor: pointer; */
    transition: 0.3s ease;
}

#data-container a:hover {
    background: rgba(240, 248, 255, 0.2);
}

@media (max-width: 500px) {


    #novela_container {
        /* border: 3px solid black; */
    
        width: 96%;
        margin: 2%;
    
        display: flex;
    
        flex-direction: column;
    }

    #img-container {

        width: 100%;
        height: 370px;
    
        margin: 10px;
        /* border: 3px solid black; */
        text-align: center;
    }
    
    #img-container img {
        margin: 20px 0;
        height: 100%;
        border-radius: 10px;
    }

    #data-container {
        width: 100%;
        height: auto;
        margin: 0;
        margin-top: 20px;
        /* border: 3px solid black; */
    
    }

    #data-container h2 {
        margin: 17px 0 20px 3%;
    
        color: white;
    }

    #data-container p {
        width: 94%;
        margin: 0 3% 0 3%;
    
        color: white;
    }

    #divback {
        margin: 16px 0 20px 3%;
    }
}

/* ________________________________________ BACKEND_UP_DEL ________________________________________________*/

#Q-body_up_del {
    background-image: url(/pic/dark-world.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

#search-container {
    margin: 20px 6.8%;

    /* border: 1px solid white; */
    border-radius: 12px;
    background: transparent; 
    backdrop-filter: blur(4px);

    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.addNovel {
    display: flex;
    align-items: center;
    text-decoration: none;
    /* border: 2px solid white; */
    border-radius: 10px;
    margin-right: 20px;
}

.addNovel:hover {
    background-color: rgba(240, 248, 255, 0.192);
}

.addNovel img {
    width: 55px;
    padding: 3px 0;
}

.addNovel p {
    font-size: 20px;
    margin-right: 5px;
}

#search-container p {
    color: white;
    padding: 10px 10px;
}


/* button#button-submit {
    background: none;
    border: none;
} */


/* .search-container {
    width: 80%;
    min-height: 100vh;
    padding: 5%;
    background-image: linear-gradient(rgba(0,9,51,0.9),rgba(0,8,51,0.9)), url(/pic/dark-world.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
} */

.search-bar {
    width: 100%;
    max-width: 700px;
    background: rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px 20px;
    backdrop-filter: blur(4px) saturate(180%);
    margin: 20px 0;
}

.search-bar input {
    background: transparent;
    flex: 1; 
    border: 0;
    outline: none;
    padding: 10px 20px;
    font-size: 20px;
    color: #cac7ff;
}

.search-bar input::placeholder {
    color: #cac7ff;
}

.search-bar button {
    border: 0;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background: #58629b;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar button img {
    width: 25px;
}

/* __________________ updelNovelData __________________ */

#novels_data_up {
    margin: 20px 6.8%;

    border: 1px solid white;
    border-radius: 12px;
    background: transparent; 
    backdrop-filter: blur(4px);

}

.flex-item-updel {
    display: flex;
    width: calc(100% - 40px);
    height: calc(100% - 40px);

    margin: 20px 20px;

    border: 2px solid white;
}

.flex-item-updel img {
    width: 220px;
    border-radius: 10px;
    margin: 10px;
}

.data {
    width: calc(100% - 20px);
}

.data p {
    color: white;
    margin: 0 0 0 30px;
}

.data p.data-title {
    margin: 15px 30px 0 30px;
    color: white;
    width: 100%;
    font-size: 25px;
    font-weight: bold;
    color:white;
}


.opciones {
    margin: 40px 0 0 30px;
}


.opciones a {
    text-decoration: none;
    color: white;
    border: 2px solid white;
    margin: 0 20px 0 0;
    padding: 15px 25px;
    font-size: 20px;
    cursor: pointer;
}

.opciones a:hover {
    background-color: rgba(240, 248, 255, 0.2);
}

/* ____________________ POPUP-DEL ________________*/

.curtain {
    position: relative;
    width: 100%;
    height: 100vh;
    transition: 0.5s;
    /* filter: blur(6px);
    pointer-events: none;
    user-select: none; */
}

.curtain.blur {
    filter: blur(3px);
    pointer-events: none;
    user-select: none;
}

.popup-del {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    padding: 50px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, .30);
    background: transparent;
    filter: blur(0px);
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    border: 2px solid white;
}

.popup-del.visible {
    top: 50%;
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}

.popup-head {
    width: 100%;
    display: flex;
    align-items: center;
}

.popup-del-form {
    margin: 18px 0 0 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}



.popup-del-form #del-input-text {
    background: transparent;
    /* flex: 1;  */
    border: 2px solid white;
    outline: none;
    padding: 10px 15px;
    font-size: 20px;
    color: #cac7ff;
    height: 44px;
    width: 228px;
}

/* pointer-events: para que no active ningun evento al hacer click o pasar el ratón 
user-select: none: para que el usuario no pueda selecccionar el texto*/
.del-input-submit {
    background: transparent;
    border: 2px solid white;
    outline: none;
    padding: 10px 10px;
    font-size: 20px;
    color: #cac7ff;
    height: 44px;
    width: 100px;
    margin-right: 4px;
    pointer-events: none;
    user-select: none;
    cursor: pointer;
}

.del-input-submit.deleteable {
    pointer-events: auto;
    user-select: auto;
    background: rgba(255, 11, 11, 0.6);
    color: #fff;
}


.del-input-submit:hover {
    background: rgba(255, 11, 11, 0.776);
    color: #fff;
}

a.btn-back {
    display: inline-block;
    text-decoration: none;
    background: transparent;
    border: 2px solid white;
    outline: none;
    padding: 10px 15px;
    font-size: 20px;
    color: #cac7ff;
    height: 44px;
    width: 150px;
    text-align: center;
}

a.btn-back:hover {
    background: rgba(240, 248, 255, 0.2);
    color: #fff;
}

.popup-del h2 {
    color: white;
}

.popup-del p {
    color: white;
}

/* Si popup-del tiene 600px */
@media (max-width: 630px) {
    .popup-del {
        width: 512px;
    }

    .popup-del-form {
        flex-direction: column;
    }

    .popup-del-form #del-input-text {
        width: 100%;
    }

    .popup-del-options {
        display: flex;
        margin-top: 12px;
        justify-content: space-between;
    }

    /* popup in */

    .popup-in {
        width: 512px;
    }

    #button-container {
        flex-direction: column;
    }

    #button-container button {
        width: 100%;
    }

    #view-add-novel {
        margin-top: 10px;
    }
}

@media (max-width: 500px) {

    #search-container {
        margin: 20px 6.8%;
    
        /* border: 1px solid white; */
        border-radius: 12px;
        background: transparent; 
        backdrop-filter: blur(4px);
    
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column-reverse;
    }

    .search-bar {
        width: 97.5%;
    }

    .flex-item-updel {
        display: flex;
        flex-direction: column;
        width: calc(100% - 40px);
        min-height: calc(100% - 40px);

        margin: 20px 20px;

        border: 2px solid white;
    }

    .img-container-updel {
        margin-top: 15px;
        display: flex;
        justify-content: center;
        width: 100%;
        /* border: 2px solid red; */
        
    }

    .opciones {
        margin: 40px 0 12px 30px;
        display: flex;
        flex-direction: column;
        /* border: 2px solid red; */
    }

    .opciones a {
        text-decoration: none;
        text-align: center;
        color: white;
        border: 2px solid white;
        margin: 0 20px 10px 0;
        padding: 15px 25px;
        font-size: 20px;
        cursor: pointer;
    }

    /* POPUP-DEL */
    
    .popup-del {
        position: fixed;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 445px;
        padding: 30px;
        box-shadow: 0 5px 30px rgba(0, 0, 0, .30);
        background: transparent;
        filter: blur(0px);
        /* visibility: hidden; */
        /* opacity: 0; */
        transition: 0.5s;
        border: 2px solid white;
    }

    .popup-del-form {
        margin: 18px 0 0 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    .popup-del-form #del-input-text {
        background: transparent;
        /* flex: 1;  */
        border: 2px solid white;
        outline: none;
        padding: 10px 15px;
        font-size: 20px;
        color: #cac7ff;
        height: 44px;
        width: 100%;
    }

    .popup-del-options {
        display: flex;
        margin-top: 12px;
        justify-content: space-between;
    }
    
    .popup-del-form #del-input-submit {
        background: transparent;
        border: 2px solid white;
        outline: none;
        padding: 10px 10px;
        font-size: 20px;
        color: #cac7ff;
        height: 44px;
        width: 100px;
        margin-right: 4px;
    }
    
    .popup-del-form a {
        display: inline-block;
        text-decoration: none;
        background: transparent;
        border: 2px solid white;
        outline: none;
        padding: 10px 15px;
        font-size: 20px;
        color: #cac7ff;
        height: 44px;
        width: 150px;
    }

    /* popup in */

    .popup-in {
        width: 445px;
    }

    #button-container {
        flex-direction: column;
    }

    #button-container button {
        width: 100%;
    }

    #view-add-novel {
        margin-top: 10px;
    }



}

@media (max-width: 480px) {
    .popup-del {
        width: 400px;
    }

    .popup-in {
        width: 400px;
}




}





/* ___________________________________________ UPDATE ____________________________________________________ */

#Q-body_update {
    background-image: url(/pic/dark-world.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

#Update-title {
    color:white;
    padding: 15px 0 15px 0;
    font-size: 30px;
    text-align: center;
}


div#form-container-update {
    /* display: flex;
    flex-direction: column; */
    margin: 20px 6.8%;

    border: 1px solid white;
    border-radius: 12px;
    background: transparent; 
    backdrop-filter: blur(4px);
}

#form-container-update form {

    width: calc(100% - 20px);
    margin: 0 20px;

    display: flex;
    flex-direction: row;

    /* align-items: center; */

    background: transparent;
    backdrop-filter: blur(10px);

}

/* #form-container form h2 {
    text-align: center;
} */

/* IMG PART */
.img-container {
    width: auto;
    height: auto;
}

.img-container img {
    width: 380px;
    border-radius: 12px;
}

/* DATA PART */
.part-data {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 20px;
}

.part-data .input-update {
    width: calc(100% - 40px);
    height: 40px;
    background: transparent;
    color: white;
    margin: 10px 20px 10px 10px;
    border-radius: 12px;
    border: 2px solid rgba(255, 255, 255, 0.331);
    padding-left: 10px; /* PARA MOVER EL INICIO DEL TEXTO!!!1 */
    font-size: 15px;
}

.part-data .input-update:hover {
    color: white;
}


.input-update::placeholder {
    color: white;
    /* font-size: 15px; */
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.part-data #description-update {

    height: 115px;
    max-height: 115px;
    background: transparent;
    border-radius: 12px;
    color: white;
    border: 2px solid rgba(255, 255, 255, 0.331);

    padding: 5px 0 0 10px;
    font-size: 15px;

    width: calc(100% - 40px);
    max-width: calc(100% - 40px);
}

#img-selector-container {
    display: flex;
    align-items: center;
    margin: 10px;
}

#img-selector-container p {
    color: white;
}

.label-image-upload {
    display: inline-block;
    padding: 10px 20px;
    margin: 0 10px 0 10px;
    border: 2px solid white;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

.label-image-upload.active {
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
}

.label-image-upload:hover {
    background-color: rgba(255, 255, 255, 0.251);
    color: white;
}

input[type="file"] {
    display: none;
}

#submit-button-upload {
    font-size: 20px;
    padding: 10px 20px;
    color: white;
    background-color: transparent;
    backdrop-filter: blur(12px);
    border: 1px solid white;
    border-radius: 8px;
    cursor: pointer;
    width: calc(100% - 40px);
    margin: 10px 10px 20px 10px;
    transition: 0.4s ease;
}

#submit-button-upload:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
}

/* ________________ POPUP-IN _________________ */

.popup-up {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    padding: 50px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, .30);
    background: transparent;
    filter: blur(0px);
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    border: 2px solid white;
}

.popup-up.visible {
    top: 50%;
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}

.popup-in h2 {
    color: white;
}

.popup-in p {
    color: white;
}

.popup-in img {
    width: 94px;
    margin-right: 2%;
}

#button-container {
    margin-top: 17px;
    display: flex;
    justify-content: space-evenly;
}

#button-container button {
    background: transparent;
    /* flex: 1;  */
    border: 2px solid white;
    outline: none;
    padding: 10px 15px;
    font-size: 20px;
    color: #cac7ff;
    height: 44px;
    width: 200px;
    cursor: pointer;
}

#button-container button:hover {
    background: rgba(240, 248, 255, 0.2);
    color: #fff;
}