* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.prime-container {
    width: 100%;

}

.flex-box {
    display: flex;
}

.flex-item {
    width: auto;
}

.flex-item img {
    width: 220px;
}