* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#Q-body_index {
    /* background-color: black; */
    background-image: url(/pic/dark-world.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

#nav {
    /* margin: 20px; */
    /* width: 96%; */
    width: 100%;
    height: 55px;
    text-align: center;
    /* border: 2px solid black; */
    /* border-radius: 12px; */
    box-shadow:
        2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
        6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
        12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
        22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
        41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
        100px 100px 80px rgba(0, 0, 0, 0.07)
        ;

    display: flex;
    align-items: center;

    background: transparent;
    backdrop-filter: blur(16px);
    filter: brightness(1);
    
}

#nav-container {
    /* display: flex;
    flex-direction: row; */
    width: 100%;
    height: 50px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}

.nav-items {
    /* margin: 5px 10%; */
    transition: 0.4s ease-in-out;
    width: 20%;
    cursor: pointer;
    height: 50px;
    text-decoration: none;

    border-radius: 12px;
}

.nav-items p {
    font-size: 18px;
    height: 50px;
    font-weight: bold;
    transition: 0.4s ease-in-out;
    padding: 5px 10px;
    border-radius: 12px;
    line-height: 44px;

    color: white;
}




/* .nav-items:hover {
    background-color: white;
}
 */
/* .nav-items:hover a {
    color: black;
} */

.prime-container {
    width: 100%;
}

#flex-box {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    margin-top: 20px;
}

.flex-item {
    width: auto;
    margin: 15px 30px;
    /* border: 3px solid black; */
    text-decoration: none;
    transition: 0.5s ease-in-out;
    background: transparent;
    backdrop-filter: blur(2px);
}

.flex-item:hover {
    transform: scale(1.03);
}

.flex-item img {
    width: 220px;
    border-radius: 10px;
}

.flex-item p {
    width:auto;
    text-align: center;
    font-size: 1.2em;
    /* font-weight: bold; */
    margin-top: 3px;
    color:white;
}

/* ____________________________________________ INSERT.HTML _______________________________________________ */

#Q-body_insert {
    background-image: url(/pic/dark-world.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

#Insert-title {
    color:white;
    padding: 15px 0 5px 0;
    font-size: 30px;
}


div#form-container {
    /* display: flex;
    flex-direction: column; */
    margin: 20px 6.8%;

    border: 1px solid white;
    border-radius: 12px;
    background: transparent; 
    backdrop-filter: blur(4px);
}

#form-container form {

    width: calc(100% -20px);
    margin: 0 20px;

    display: flex;
    flex-direction: column;

    /* align-items: center; */

    background: transparent;
    backdrop-filter: blur(10px);

}

#form-container form h2 {
    text-align: center;
}

.input {
    width: calc(100%-20px);
    height: 40px;
    background: transparent;
    color: white;
    margin: 10px 10px 10px 10px;
    border-radius: 12px;
    border: 2px solid rgba(255, 255, 255, 0.331);
    padding-left: 10px; /* PARA MOVER EL INICIO DEL TEXTO!!!1 */
    font-size: 15px;
}

.input::placeholder {
    color: white;
    /* font-size: 15px; */
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#form-container textarea {

    height: 40px;
    background: transparent;
    width: calc(100%-20px);
    max-width: 100%;
    min-width: calc(100%-20px);
    border-radius: 12px;
    color: white;
    border: 2px solid rgba(255, 255, 255, 0.331);

    padding: 5px 0 0 10px;
    font-size: 15px;
}

#img-selector-container {
    display: flex;
    align-items: center;
    margin: 10px;
}

#img-selector-container p {
    color: white;
}

.label-image-upload {
    display: inline-block;
    padding: 10px 20px;
    margin: 0 10px 0 10px;
    border: 2px solid white;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

.label-image-upload.active {
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
}

.label-image-upload:hover {
    background-color: rgba(255, 255, 255, 0.251);
    color: white;
}

input[type="file"] {
    display: none;
}

#submit-button {
    font-size: 20px;
    padding: 10px 20px;
    color: white;
    background-color: transparent;
    backdrop-filter: blur(12px);
    border: 1px solid white;
    border-radius: 8px;
    cursor: pointer;
    margin: 0 0 20px 0;
    transition: 0.4s ease;
}

#submit-button:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
}


/* _____________________________________________ novela _____________________________________________ */


#Q-body1 {
    /* background-image: url(); */
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    /* backdrop-filter: brightness(2); */
}

#novela_container {
    /* border: 3px solid black; */
    border-radius: 12px;

    width: 96%;
    margin: 2%;
    height: auto;

    display: flex;

    background: transparent;
    backdrop-filter: blur(40px);
    filter: brightness(1.2);

    /* flex-wrap: wrap; */
}

#img-container {

    width: 291.24px;
    height: 370px;

    margin: 20px 10px 10px 22px;
    /* border: 3px solid black; */
}

#img-container img {
    width: 291.24px;
    border-radius: 10px;

    filter: brightness(1.1);
}

#data-container {
    width: 80%;
    height: auto;

    margin: 10px 21px 10px 10px;
    /* border: 3px solid black; */

}

#data-container h2 {
    margin: 17px 0 20px 22px;

    color: white;
}



#data-container p {
    margin: 0px 0 0px 22px;

    color: white;
}

@media (max-width: 500px) {


    #novela_container {
        /* border: 3px solid black; */
    
        width: 96%;
        margin: 2%;
    
        display: flex;
    
        flex-direction: column;
    }

    #img-container {

        width: 100%;
        height: 370px;
    
        margin: 10px;
        /* border: 3px solid black; */
        text-align: center;
    }
    
    #img-container img {
        margin: 20px 0;
        height: 100%;
        border-radius: 10px;
    }

    #data-container {
        width: 100%;
        height: auto;
        margin: 0;
        margin-top: 20px;
        /* border: 3px solid black; */
    
    }

    #data-container h2 {
        margin: 17px 0 20px 3%;
    
        color: white;
    }

    #data-container p {
        width: 94%;
        margin: 0 3% 0 3%;
    
        color: white;
    }
}

/* ________________________________________ BACKEND_UP_DEL ________________________________________________*/

#Q-body_up_del {
    background-image: url(/pic/dark-world.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

#search-container {
    margin: 20px 6.8%;

    /* border: 1px solid white; */
    border-radius: 12px;
    background: transparent; 
    backdrop-filter: blur(4px);

    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.addNovel {
    display: flex;
    align-items: center;
    text-decoration: none;
    /* border: 2px solid white; */
    border-radius: 10px;
    margin-right: 20px;
}

.addNovel:hover {
    background-color: rgba(240, 248, 255, 0.192);
}

.addNovel img {
    width: 55px;
    padding: 3px 0;
}

.addNovel p {
    font-size: 20px;
    margin-right: 5px;
}

#search-container p {
    color: white;
    padding: 10px 10px;
}


/* button#button-submit {
    background: none;
    border: none;
} */


.search-container {
    width: 80%;
    min-height: 100vh;
    padding: 5%;
    background-image: linear-gradient(rgba(0,9,51,0.9),rgba(0,8,51,0.9)), url(/pic/dark-world.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar {
    width: 100%;
    max-width: 700px;
    background: rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px 20px;
    backdrop-filter: blur(4px) saturate(180%);
    margin: 20px 0;
}

.search-bar input {
    background: transparent;
    flex: 1; /*Permite crecer al elemento tanto como sea su padre*/
    border: 0;
    outline: none;
    padding: 10px 20px;
    font-size: 20px;
    color: #cac7ff;
}

.search-bar input::placeholder {
    color: #cac7ff;
}

.search-bar button {
    border: 0;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background: #58629b;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar button img {
    width: 25px;
}

/* __________________ updelNovelData __________________ */

#novels_data_up {
    margin: 20px 6.8%;

    border: 1px solid white;
    border-radius: 12px;
    background: transparent; 
    backdrop-filter: blur(4px);

}

.flex-item-updel {
    display: flex;
    width: calc(100% - 40px);
    height: calc(100% - 40px);

    margin: 20px 20px;

    border: 2px solid white;
}

.flex-item-updel img {
    width: 220px;
    border-radius: 10px;
    margin: 10px;
}

.data {
    width: calc(100% - 20px);
}

.data p {
    color: white;
    margin: 0 0 0 30px;
}

.data p.data-title {
    margin: 15px 30px 0 30px;
    color: white;
    width: 100%;
    font-size: 25px;
    font-weight: bold;
    color:white;
}


.opciones {
    margin: 40px 0 0 30px;
}


.opciones a {
    text-decoration: none;
    color: white;
    border: 2px solid white;
    margin: 0 20px 0 0;
    padding: 15px 25px;
    font-size: 20px;
    cursor: pointer;
}

.opciones a:hover {
    background-color: rgba(240, 248, 255, 0.2);
}






